<!--nav-->
<nav th:fragment="navUser" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">NiceShoes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      <h6 class="text-dark me-3 mt-2">Olá, <span th:text="${username}"></span></h6>
      <form class="d-flex" th:action="@{/verCarrinho}" method="get">
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span th:text="${#lists.size(carrinho)}" class="badge bg-dark text-white ms-1 rounded-pill"></span>
        </button>
      </form>
    </div>
  </div>
</nav>

<!--navAdmin-->
<nav th:fragment="navAdmin" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#!">NiceShoes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      </ul>
    </div>
    <h6 class="text-dark me-3 mt-2">Bem-vindo, <span th:text="${username}"></span></h6>
  </div>
</nav>

<!--header-->
<header th:fragment="header" class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder" >NikeShoes</h1>
      <p class="lead fw-normal text-white-50 mb-0">A melhor sapataria virtual</p>
    </div>

  </div>
</header>

<!--footer-->
<footer th:fragment="footer" class="py-5 bg-dark">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2023 By Nathan&Wallace</p></div>
</footer>