<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>NiceShoes - A melhor loja de sapatos</title>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>

    <body>
        <!-- Navigation-->
        <div th:replace="/fragments/commons :: navUser"></div>

        <div th:if="${param.msg}" class="alert alert-success" role="alert">
            <p th:class="text-center" th:text="${param.msg}"></p>
        </div>

        <!-- Header-->
        <div th:replace="/fragments/commons :: header"></div>
        <!-- Section-->
        <div th:replace="/fragments/listSapatos :: section"></div>
        <!-- Footer-->
        <div th:replace="/fragments/commons :: footer"></div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
